.main {
    background-image: url('https://s1.1zoom.me/b5050/898/Poland_Houses_Evening_Poznan_Street_Street_lights_536774_3840x2400.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(.9);
    background-attachment: fixed;
}


.container {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
}




.upper-container {
    height: 50%;
    width: 100%;
    display: flex;
}

.upper-left {
    width: 50%;
    
}

.upper-right {
    width: 50%;
    margin-right: 3rem
}





.lower-container {
    height: 50%;
    width: 100%;
    display: flex;
}

.lower-left {
    width: 35%;
    margin-left: 2rem;
    margin-top: 1rem;
}

.lower-right {
    width: 50%;
    margin: 1rem auto 0 auto;
    margin-right: 3rem;
}